body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #F4EEFF, #DCD6F7, #A6B1E1, #424874);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	/* height: 100vh; */
    font-family: 'Calibri Light';
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
        color: black;
	}
	50% {
		background-position: 100% 50%;
        color:darkblue;
	}
	100% {
		background-position: 0% 50%;
	}
}


.name-heading{
    text-align: center;
    font-size: 48px;
}

.name-sub-heading{
    text-align: center;
    font-size: 36px;
}

.skills .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.internship .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
}
